# Virtual Environment & Python cache
__pycache__/
*.py[cod]
*$py.class
.venv/
env/
venv/

# Environment Variables & Secrets
.env
fetch_vn_jobs.py

# Streamlit local settings
.streamlit/secrets.toml

# OS Files
.DS_Store
Thumbs.db